body {
  margin: 0px;
}
a {
  color: green;
  text-decoration: none;
}
h1 {
  font-size: 45px;
  text-align: center;
  border-bottom:1px solid gray;
  margin: 0px;
  padding: 20px;
}
li {
  font-size: 24px;
}
ul li {
  font-size: 15px;
}
#active {
  color: red;
  text-decoration: underline;
}
#grid ol {
  border-right: 1px solid gray;
  width: 180px;
  margin-left: 30px;
  margin: 0;
  padding: 30px;
}
#grid {
  display: grid;
  grid-template-columns: 250px 1fr;
}
#grid #article {
  padding-left:100px;
  padding-top:30px;
}
@media(max-width:800px) {
  #grid {
    display: block;
  }
  #grid ol {
    border-right: none;
  }
  h1 {
    border-bottom: none;
  }
  #grid #article {
    padding-left: 30px;
    padding-top: 30px;
  }
}
